.form{
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

.amount{
    font-size: 25px;
    color: rgb(68, 68, 68);
}
.paymentMethod{
    font-size: 25px;
    color: rgb(68, 68, 68);
    margin-top: 25px;
}
.button{
    margin-top: 20px;
    padding: 7px 3px;
}

input{
    padding: 6px 2px;
    outline: none;
}
select{
    padding: 6px 2px;
}